<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778753524039-l2tpfvstn14kb6f115b3061a04kq08g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778753524039-l2tpfvstn14kb6f115b3061a04kq08g7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778753524039-kj99dkbfvs2ftgnj2ogct203kpt2cqvk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJD5MtBhoHvZiSh0ZHOzxprReUyyLIjtk</string>
	<key>GCM_SENDER_ID</key>
	<string>778753524039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaipioperator</string>
	<key>PROJECT_ID</key>
	<string>chaipi-238608</string>
	<key>STORAGE_BUCKET</key>
	<string>chaipi-238608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778753524039:ios:ee07e56296b71d5b</string>
	<key>DATABASE_URL</key>
	<string>https://chaipi-238608.firebaseio.com</string>
</dict>
</plist>